@charset "UFT-8";

form#fContato {
	width: 500px;
	margin: auto;	
}


input, textarea{
	font-family: sans-serif;
	font-weigth: normal;
	font-size: 13pt;
	background-color: rgba(255,255,255,.8);
}

input:hover, textarea:hover {
	background-color: #dddddd;
}
p{
	text-align: left;
	text-indent: 50px;
}

legend {
	color: #888888;
	font-weight: bold;
	font-size: 13pt;
	font-family: sans-serif;
}

fieldset {
	border-color: #cecece;
	margin: 20px;
}

fieldset#sexo{
	width: 150px;
}

fieldset#usuario usuario {
	background: url(../_imagens/contato.png) no-repeat 95% 95%;
}

fieldset#endereco {
	background-image:url("../_imagens/icone-endereco.png") no-repeat 95% 95%;
}

fieldset#mensagem {
	background-image: url("../_imagens/icone-mensagem.png") no-repeat 95% 95%;
}

fieldset#pedido {
	background-image: url("../_imagens/icone-pagamento.png") no-repeat 95% 95%;
}





